ES_classification/Service References/ServiceReferenceForExpertSystem/WebServiceForExpertSystem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="dbwGetDataSetForBayesSystem">
        <s:complexType />
      </s:element>
      <s:element name="dbwGetDataSetForBayesSystemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dbwGetDataSetForBayesSystemResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dbwAddNewQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="questionString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="functionalAreaId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dbwAddNewQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dbwAddNewQuestionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="dbwGetDataSetForBayesSystemSoapIn">
    <wsdl:part name="parameters" element="tns:dbwGetDataSetForBayesSystem" />
  </wsdl:message>
  <wsdl:message name="dbwGetDataSetForBayesSystemSoapOut">
    <wsdl:part name="parameters" element="tns:dbwGetDataSetForBayesSystemResponse" />
  </wsdl:message>
  <wsdl:message name="dbwAddNewQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:dbwAddNewQuestion" />
  </wsdl:message>
  <wsdl:message name="dbwAddNewQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:dbwAddNewQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceForExpertSystemSoap">
    <wsdl:operation name="dbwGetDataSetForBayesSystem">
      <wsdl:input message="tns:dbwGetDataSetForBayesSystemSoapIn" />
      <wsdl:output message="tns:dbwGetDataSetForBayesSystemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dbwAddNewQuestion">
      <wsdl:input message="tns:dbwAddNewQuestionSoapIn" />
      <wsdl:output message="tns:dbwAddNewQuestionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceForExpertSystemSoap" type="tns:WebServiceForExpertSystemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dbwGetDataSetForBayesSystem">
      <soap:operation soapAction="http://tempuri.org/dbwGetDataSetForBayesSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dbwAddNewQuestion">
      <soap:operation soapAction="http://tempuri.org/dbwAddNewQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceForExpertSystemSoap12" type="tns:WebServiceForExpertSystemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dbwGetDataSetForBayesSystem">
      <soap12:operation soapAction="http://tempuri.org/dbwGetDataSetForBayesSystem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dbwAddNewQuestion">
      <soap12:operation soapAction="http://tempuri.org/dbwAddNewQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceForExpertSystem">
    <wsdl:port name="WebServiceForExpertSystemSoap" binding="tns:WebServiceForExpertSystemSoap">
      <soap:address location="http://localhost:6842/WebServiceForExpertSystem.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceForExpertSystemSoap12" binding="tns:WebServiceForExpertSystemSoap12">
      <soap12:address location="http://localhost:6842/WebServiceForExpertSystem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>